body {
    padding: 0;
    margin: 0;
    background: #f0f2f5;
    font-family: Arial, sans-serif;
}

.form-box {
    width: 350px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 7px 9px 22px rgb(8, 230, 112);
}
.form-box input {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #eeebeb;
    border-radius: 5px;
    outline: rgb(174, 61, 61);
}
.form-box input:focus {
    box-shadow: 0px 0px 1px 1px rgb(22, 229, 67);
}
.form-box button {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
    border: 2px solid #36a420;
    cursor: pointer;
}
.form-box button:hover {
    background: #42b72a;
    border: 2px solid #42b72a;
}
.form-box a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
    border: 2px solid #36a420;
    cursor: pointer;
}
.form-box a:hover {
    background: #42b72a;
    border: 2px solid #42b72a;
    text-decoration: underline;
}
.img {
    padding-top: 50px;
  padding-bottom: 50px;
}